.symbol {
    color: white;
    min-width: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    line-height: 20px;
    height: 20px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    margin: 5px 0px;
}